<header class="header">
  <img class="logo" src="https://cdn.jsdelivr.net/gh/venenl/venenl.github.io@master/static/img/logo.png" alt="logo"/>
  <nav class="menu">
    {% for menu in site.menu -%}

      {%- assign target = "" %}
      {%- if menu.target %}
        {% capture target %}target="{{ menu.target }}"{% endcapture %}
      {%- endif %}

      {%- assign href = menu.url %}
      {%- unless href contains "://" %}
        {% capture href %}{{ site.baseurl }}{{ menu.url }}{% endcapture %}
      {%- endunless -%}

      <a href="{{href}}" {{target}} class="hover-underline">{{ menu.title }}</a>
    {% endfor -%}
    
    <u><br><span id="hitokoto">获取中...</span></br></u>
  </nav>
</header>
