<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html -%}
<body ondragstart="return false;">
{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">{{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</div>
  {% endif %}
  <div class="post">
    {{ content }}
  </div>
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
</div>
<script src="//cdn.jsdelivr.net/npm/@waline/client"></script>
<div id="waline"></div>
  <script>
    Waline({
      el: '#waline',
      serverURL: 'https://pl11.vercel.app',
    });
  </script>
{% include footer.html -%}
{% include script.html -%}
</body>
</html>
